<h2>Log In</h2>
<p><form method="post" action="/login" autocomplete="nope">
<p>Username: <input type="text" name="username"></p>
<p>Password: <input type="text" name="password"></p>
<input type="submit" id="submit" value="Submit">
</form></p>