<h2>Log In</h2>
<p><form method="post" action="/login">
<p>Username: <input type="text" name="username"></p>
<p>Password: <input type="text" name="password"></p>
<br>
<input class="button" type="submit" id="submit" value="Submit">
</form></p>