<h3>Log In</h3>
<br>
<form method="post" action="/login">
<p>Username: <input type="text" name="email"></p>
<p>Password: <input type="text" name="password"></p>
<input type="submit" value="submit">
</form>