<h3>Sign Up</h3>
<br>
<p>* Indicates required field.</p>
<form action="/signup" method="POST">
  <p>Username * <input type="text" name="username"></p>
  <p>Email * <input type="text" name="email"></p>
  <p>Password * <input type="password" name="password"></p>
  <p>Retype Password * <input type="password" name="password_confirm"></p><br>
  <p>Have an admin key? Enter it here: <input type="text" name="admin_key"></p>
  <input class="btn btn-primary" type="submit">
</form>