<h2>Reviews</h2>

<%@reviews.each do |review|%>
  <p><a href='/reviews/<%= review.id %>'><%= review.place.name %>: <%= review.title %></a></p>
<%end%>
<br>

<p><a href="/reviews/new">Create Review</a></p>