<center><h1>Welcome To QuietPlaces!</h1></center>
<br>
<center><h3><em>Find where to converse and relax, in peace.</em></h3></center>
<br>
<img src="images/25704381108_a9272a344e_z.jpg" alt="Smiley face" class="center">