<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>QuietPlaces</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <% if logged_in? %>
        <p>Logged in as <a href='/users/<%= current_user.id %>'><%= current_user.username %></a></p>
      <% end %>
      <% if logged_in? && current_user.is_admin %>
        <p><em>Admin account</em></p>
      <% end %>

        <%= yield %>

      <nav>
        <% unless request.env['PATH_INFO'] == "/" %>
          <a href="/">Home</a>
        <% end %>
        <% if !logged_in? %>
          <a href="/signup">Sign Up</a>
          <a href="/login">Log In</a>
        <% end %>
        <a href="/places">Places</a>
        <a href="/reviews">Reviews</a>
        <% if logged_in? %>
        <a href="/users/<% current_user.id %>">Account</a> 
        <a href="/logout">Log Out</a>
        <% end %>
      </nav>
      <footer class="branding">
        <small>&copy; 2018 <strong>Ron Sala</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
