<h1>Welcome, <%=current_user.username%></h1>

<h2>All Places</h2>

<%@places.each do |place|%>
  <%=place.name%>
<% end %>
<%end%><br>
<br>
<a href="/places/new">Create place</a><br>
<br>
<form method="post" action="/logout"> -->
  <button type="submit" name="submit" id="submit" value="submit"></button> -->
</form> -->

